<html>
<head>
	<title>Vibzin.com - BETA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8">
	<link rel="stylesheet" href="/css/style.css">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="flexCenter">
	<form method="POST" class="formWrap">
		<h1 style="margin-bottom: 20px">Vibzin</h1>
		<input id="nickname" autocomplete="off" placeholder="Enter your name"></input>
		<input type="submit" value="Enter"></input>
	</form>
</div>
<script>
$(document).ready(function() {
	$('#nickname').focus()
})
</script>
</body>
</html>